@model IEnumerable<MockSchoolManagement.Areas.Business.Models.Student>
@{ 
    ViewBag.Title = "学生列表";
    ViewBag.cur = 2;
}
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>Id</th>
            <th>名字</th>
            <th>邮箱</th>
            <th>主修科目</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Major</td>
            </tr>
        }
    </tbody>
</table>
