body {
}

.title{
    font-size:25px;
}

.text-center{
    text-align:center;
    line-height:50px;
}

.flex{
    display:flex;
    flex-direction:row;
}

.list-title {
    width: 7%;
}

.list-body{
    width:93%;
    margin-left:20px;
    padding-left:18px;
    padding-right:18px;
}

.nav-item{
    width: 100%;
    height: 30px;
    background: red;
    text-align: center;
}

.bg-green{
    background: #009688;
}

.menu-item-border{
    border:1px solid white;
}

.conner-round{
    border-radius:5px;
}